body{
    background-color: #60a3f0;
    font: normal 15pt Arial;
}

header{
    color: #fff;
    text-align: center;
}

section{
    background-color: #fff;
    border-radius: 15px;
    padding: 15px;
    width: 380px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.295); /* Deslocamento Horizontal, vertical e espalhamento*/
}

#img{
    border-radius: 50%;
    width: 200px;
    height: 200px;    
}

div{
    text-align: center;
    padding: 7px;
}

footer{
    color: #fff;
    text-align: center;
    font-style: italic;
}